/* Cards */
.card-component {
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

/* Fin Cards */

