* {
    background-color: white;
}


.Logo {
    display: flex;
    align-items: start;
}

nav {
    display: flex;
    align-items: end;
    background-color: #A19797;
    justify-content: space-between;
}

ul {
    display: flex;
    align-content: center;
    background-color: #A19797;
}


li {
    list-style-type: none;
    color: black;
    background-color: #A19797;
    margin: 20px;

}

img {
    background-color: #A19797;
    width: 220px;
    height: 120px;
    margin-right: 570px;
}

.a-link {
    color: black;
    background-color: #A19797;
}