* {
    background-color: white;
}


/* Logo */

.Logo {
    display: flex;
    align-items: start;
}

.link-logo {
    background-color: white;
}

img {
    background-color: white;
    width: 220px;
    height: 120px;
    margin-right: 570px;
}

/* Fin Logo */



/* Header */

nav {
    display: flex;
    align-items: end;
    background-color: white;
    justify-content: space-between;
}

ul {
    display: flex;
    align-content: center;
    background-color: white;
}



.a-link {
    color: black;
    background-color: white;
    list-style-type: none;
    color: black;
    margin: 10px;
}

hr {
    height: 1px;
    background-color: black;
    width: 700px;
  }


/* Fin Header */