/* Saludos Bienvenida */
.bienvenida {
    display: flex;
    justify-content: center;
    color: black;
    font-size: xx-large;
    font-family: serif;
    margin: 100px;
}
/* Fin Saludos Bienvenida */

div .img-bienvenida {
    background-color: #340c0c;
    height: 500px;
    width: 100%;
}

.img-inicio {
    background-color: #340c0c;
    width:  60%;
    height: 500px;
}