/* Saludos Bienvenida */
.bienvenida {
    display: flex;
    justify-content: center;
    color: black;
    font-size: xx-large;
    font-family: serif;
    margin: 100px;
}
/* Fin Saludos Bienvenida */

.img-bienvenida {
    background-color: #340c0c;
    height: 500px;
    width: 1100px;
    margin-left: 80px;
    position: relative;
}

.img-inicio {
    background-color: #340c0c;
    width:  65%;
    height: 500px;
    position: absolute;
}

.txt-bienvenida {
    color: whitesmoke;
    font-size: xx-large;
    background-color: #340c0c;
    font-family: serif;
    font-weight: 700;
    padding-top: 100px;
    white-space: initial;
    width: 300px;
    text-align: center;
    padding-left: 65%;
    line-height: 60px;
}